<template>
  <div class="row">
    .<div class="col-lg-5 col-lg-offset-1">
    <div class="hpanel">
      <div class="panel-heading">
        Add Zone
      </div>
      <div class="panel-body">
        <form method="get" class="form-horizontal" @submit.prevent="postZone()">
          <div class="form-group"><label class="col-sm-3 control-label">Zone Name</label>

            <div class="col-sm-9"><input v-model="zone.name" type="text" class="form-control"></div>
          </div>
          <div class="form-group"><label class="col-sm-3 control-label">Zone Code</label>

            <div class="col-sm-9"><input v-model="zone.code" type="text" class="form-control"></div>
          </div>
          <div class="form-group"><label class="col-sm-3 control-label">Zone Size (m2)</label>

            <div class="col-sm-9"><input v-model="zone.size" type="text" class="form-control"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <button class="btn btn-primary" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    <div class="col-lg-5">
      <div class="hpanel">
        <div class="panel-heading">
          Client Zones
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table cellpadding="1" cellspacing="1" class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Code</th>
                <th>Size</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="category, index in allZones">
                <td>{{index + 1}}</td>
                <td>{{category.name}}</td>
                <td>{{category.code}}</td>
                <td>{{category.size}}</td>
                <td>
                  <button class="btn btn-sm btn-warning" @click="removeZone(index)">Remove</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ZoneVuex from '../../mixins/Vuex/ZonesVuex'
  export default {
    data () {
      return {
        zone: {
          name: '',
          code: '',
          size: ''
        }
      }
    },
    methods: {
      postZone: function () {
        var zone = {
          name: this.zone.name,
          code: this.zone.code,
          size: this.zone.size
        }
        this.$store.state.zoneStore.all_zones.push(zone)
        this.zone.name = ''
        this.zone.code = ''
        this.zone.size = ''
      },
      removeZone: function (publicId) {
        this.$store.state.zoneStore.all_zones.pop(publicId)
      }
    },
    mixins: [ZoneVuex]
  }
</script>

<style>

</style>
