<template>

  <div class="col-lg-10 col-lg-offset-1">
    <div class="hpanel">
      <div class="panel-heading">
        Users
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <vue-good-table
            :columns="columns"
            :rows="allUsers"
            :paginate="true"
            :globalSearch="true"
            :lineNumbers="true"
            styleClass="table"
          >
            <template slot="table-row" slot-scope="props">
              <td class="fancy">{{ props.row.first_name}} {{ props.row.last_name }}</td>
              <td class="fancy">{{ props.row.user_category}} </td>
              <td class="fancy">{{ props.row.phone_number}} </td>
              <td class="fancy">{{ props.row.email}} </td>
              <td class="has-text-right">
                <button class="btn btn-info btn-sm" v-on:click="viewUser(props.row.originalIndex)">View Details</button>
              </td>
            </template>
          </vue-good-table>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import UsersVuex from '../../../mixins/Vuex/UserVuex'
  export default {
    data () {
      return {
        columns: [
          {
            label: 'User Name',
            field: 'first_name'
          },
          {
            label: 'User Category',
            field: 'user_category'
          },
          {
            label: 'Phone Number',
            field: 'phone_number'
          },
          {
            label: 'Email',
            field: 'email'
          },
          {
            label: 'Action'
          }
        ]
      }
    },
    methods: {
      viewUser: function (publicId) {
        this.$router.push({
          name: 'User',
          params: {
            user_id: publicId
          }
        })
      }
    },
    mixins: [UsersVuex]
  }
</script>

<style>

</style>
