<template>

  <div class="col-lg-10 col-lg-offset-1">
    <div class="hpanel">
      <div class="panel-heading">
        Register Client
      </div>
      <div class="panel-body">
        <form @submit.prevent="postUser()" class="form-horizontal">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">User Categories</label>
                <div class="col-sm-9">
                  <select v-model="user.user_category"  class="form-control">
                    <option value="" selected disabled>Select User Category</option>
                    <option :value="category.name" v-for="category in allUserCategories">{{category.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">First Name</label>

                <div class="col-sm-9"><input v-model="user.first_name" type="text" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Last Name</label>

                <div class="col-sm-9"><input v-model="user.last_name"  type="text" class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Email</label>

                <div class="col-sm-9"><input  v-model="user.email" type="email" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Phone Number</label>

                <div class="col-sm-9"><input  v-model="user.phone_number"  type="tel" class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                  <button class="btn btn-primary" type="submit">Register User</button>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</template>

<script>
  import UserCategoryVuex from '../../../mixins/Vuex/UserCategoryVuex'
  import ZoneVuex from '../../../mixins/Vuex/ZonesVuex'
  export default {
    data () {
      return {
        user: {
          user_category: '',
          first_name: '',
          last_name: '',
          email: '',
          phone_number: ''
        }
      }
    },
    methods: {
      postUser: function () {
        var user = {
          user_category: this.user.user_category,
          first_name: this.user.first_name,
          last_name: this.user.last_name,
          email: this.user.email,
          phone_number: this.user.phone_number
        }
        this.$store.state.userStore.all_users.push(user)
        this.$router.push({
          name: 'AllUsers'
        })
      }
    },
    mixins: [UserCategoryVuex, ZoneVuex]
  }
</script>

<style>

</style>
