<template>
  <div class="row">
    .<div class="col-lg-5 col-lg-offset-1">
    <div class="hpanel">
      <div class="panel-heading">
        User Category
      </div>
      <div class="panel-body">
        <form method="get" class="form-horizontal" @submit.prevent="postUserCategory()">
          <div class="form-group"><label class="col-sm-3 control-label">Category Name</label>

            <div class="col-sm-9"><input v-model="user_category.name" type="text" class="form-control"></div>
          </div>
          <div class="form-group"><label class="col-sm-3 control-label">Description</label>

            <div class="col-sm-9">
              <textarea v-model="user_category.description" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <button class="btn btn-primary" type="submit">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    <div class="col-lg-5">
      <div class="hpanel">
        <div class="panel-heading">
          User Categories
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table cellpadding="1" cellspacing="1" class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="user_category, index in allUserCategories">
                <td>{{index + 1}}</td>
                <td>{{user_category.name}}</td>
                <td>{{user_category.description}}</td>
                <td>
                  <button class="btn btn-sm btn-warning" @click="removeUserCategory()">Remove</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import UserCategoryVuex from '../../../mixins/Vuex/UserCategoryVuex'
  export default {
    data () {
      return {
        user_category: {
          name: '',
          description: ''
        }
      }
    },
    methods: {
      postUserCategory: function () {
        var category = {
          name: this.user_category.name,
          description: this.user_category.description
        }
        this.$store.state.userCategoryStore.all_user_categories.push(category)
        this.user_category.name = ''
        this.user_category.description = ''
      },
      removeUserCategory: function (publicId) {
        this.$store.state.userCategoryStore.all_user_categories.pop(publicId)
      }
    },
    mixins: [UserCategoryVuex]
  }
</script>

<style>

</style>
