<template>
  <aside id="menu">
    <div id="navigation">
      <div class="profile-picture">

        <div class="stats-label text-color">
          <span class="font-extra-bold font-uppercase">Robert Razer</span>

          <div class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              <small class="text-muted">Founder of App <b class="caret"></b></small>
            </a>
            <ul class="dropdown-menu animated flipInX m-t-xs">
              <li><a href="contacts.html">Contacts</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li><a href="analytics.html">Analytics</a></li>
              <li class="divider"></li>
              <li><a href="login.html">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <ul class="nav" id="side-menu">
        <li class="active">
          <router-link :to="{name: 'Dashboard'}"> <span class="nav-label">Dashboard</span></router-link>
        </li>
        <li>
          <a href="#"><span class="nav-label">Clients</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li><router-link :to="{name: 'RegisterClient'}">Register Client</router-link></li>
            <li><router-link :to="{name: 'AllClients'}">All Clients</router-link></li>
            <li><router-link :to="{name: 'FlaggedClients'}">Flagged Clients</router-link></li>
            <li><router-link :to="{name: 'ClientCategories'}">Client Categories</router-link></li>
          </ul>
        </li>
        <li>
          <a href="#"><span class="nav-label">Users</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li><router-link :to="{name: 'RegisterUser'}">Register new User</router-link></li>
            <li><router-link :to="{name: 'AllUsers'}">All Users</router-link></li>
            <li><router-link :to="{name: 'UserCategories'}">User Categories</router-link></li>
            <li><router-link :to="{name: 'DisabledUsers'}">Disabled Users</router-link></li>
          </ul>
        </li>
        <li>
          <a href="#"><span class="nav-label">Bills</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li><router-link :to="{name: 'PendingBills'}">Pending Bills</router-link></li>
            <li><router-link :to="{name: 'PaidBills'}">Paid Bills</router-link></li>
            <li><router-link :to="{name: 'ReconcileBill'}">Reconcile a Bill</router-link></li>
          </ul>
        </li>
        <li>
          <a href="#"><span class="nav-label">Meters</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li><router-link :to="{name: 'EnterReading'}">Enter Reading</router-link></li>
            <li><router-link :to="{name: 'ReadingHistory'}">Reading History</router-link></li>
            <li><router-link :to="{name: 'ActiveMeters'}">Active Meters</router-link></li>
            <li><router-link :to="{name: 'InactiveMeters'}">Inactive Meters</router-link></li>
            <li><a href="flot.html">Connected Meters</a></li>
            <li><a href="flot.html">Disconnected Meters</a></li>
          </ul>
        </li>
        <li class="">
          <router-link :to="{name: 'Zones'}"> <span class="nav-label">Zones</span></router-link>
        </li>
        <li>
          <a href="#"><span class="nav-label">Tasks</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li><router-link :to="{name: 'NewTask'}">Add New Task</router-link></li>
            <li><router-link :to="{name: 'OverDueTasks'}">Over Due Tasks</router-link></li>
            <li><router-link :to="{name: 'CompleteTasks'}">Complete Tasks</router-link></li>
            <li><router-link :to="{name: 'AllTasks'}">All Tasks</router-link></li>
            <li><router-link :to="{name: 'TaskCategories'}">Task Categories</router-link></li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
</template>

<script>
  export default {
    name: 'SideNav',
    data () {
      return {}
    }
  }
</script>

<style>

</style>
