<template>
 <div class="">
   <top-nav></top-nav>
   <!-- Navigation -->
   <side-nav></side-nav>
   <!-- Main Wrapper -->
   <div id="wrapper">

     <router-view/>
     <!-- Footer-->
     <nav-footer></nav-footer>

   </div>
 </div>
</template>

<script>
import TopNav from './Module1/Basics/TopNav.vue'
import SideNav from './Module1/Basics/SideNav.vue'
import NavFooter from './Module1/Basics/Footer.vue'

export default {
  components: {
    NavFooter,
    SideNav,
    TopNav},
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
