<template>

  <div class="col-lg-10 col-lg-offset-1">
    <div class="hpanel">
      <div class="panel-heading">
        Clients
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <vue-good-table
            :columns="columns"
            :rows="allClients"
            :paginate="true"
            :globalSearch="true"
            :lineNumbers="true"
            styleClass="table"
          >
            <template slot="table-row" slot-scope="props">
              <td class="fancy">{{ props.row.first_name}} {{ props.row.last_name }}</td>
              <td class="fancy">{{ props.row.zone}} </td>
              <td class="fancy">{{ props.row.account_number}} </td>
              <td class="fancy">{{ props.row.meter_number}} </td>
              <td class="fancy">{{ props.row.phone_number}} </td>
              <td class="fancy">{{ props.row.email}} </td>
              <td class="has-text-right">
                <button class="btn btn-info btn-sm" v-on:click="viewClient(props.row.originalIndex)">View Details</button>
              </td>
            </template>
          </vue-good-table>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import ClientVuex from '../../../mixins/Vuex/ClientVuex'
  export default {
    data () {
      return {
        columns: [
          {
            label: 'Client Name',
            field: 'first_name'
          },
          {
            label: 'Zone',
            field: 'zone'
          },
          {
            label: 'Account Number',
            field: 'account_number'
          },
          {
            label: 'Meter Number',
            field: 'meter_number'
          },
          {
            label: 'Phone Number',
            field: 'phone_number'
          },
          {
            label: 'Email',
            field: 'email'
          },
          {
            label: 'Action'
          }
        ]
      }
    },
    methods: {
      viewClient: function (publicId) {
        this.$router.push({
          name: 'Client',
          params: {
            client_id: publicId
          }
        })
      }
    },
    mixins: [ClientVuex]
  }
</script>

<style>

</style>
