<template>
<div class="row">
  .<div class="col-lg-5 col-lg-offset-1">
    <div class="hpanel">
      <div class="panel-heading">
        Client Category
      </div>
      <div class="panel-body">
        <form method="get" class="form-horizontal" @submit.prevent="postClientCategory()">
          <div class="form-group"><label class="col-sm-3 control-label">Category Name</label>

            <div class="col-sm-9"><input v-model="category.name" type="text" class="form-control"></div>
          </div>
          <div class="form-group"><label class="col-sm-3 control-label">Description</label>

            <div class="col-sm-9">
              <textarea v-model="category.description" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <button class="btn btn-primary" type="submit">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="hpanel">
      <div class="panel-heading">
        Client Categories
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table cellpadding="1" cellspacing="1" class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="category, index in allClientCategories">
              <td>{{index + 1}}</td>
              <td>{{category.name}}</td>
              <td>{{category.description}}</td>
              <td>
                <button class="btn btn-sm btn-warning">Remove</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
</template>

<script>
  import ClientCategoriesVuex from '../../../mixins/Vuex/ClientCategoriesVuex'
  export default {
    data () {
      return {
        category: {
          name: '',
          description: ''
        }
      }
    },
    methods: {
      postClientCategory: function () {
        var category = {
          name: this.category.name,
          description: this.category.description
        }
        this.$store.state.clientCategoryStore.client_categories.push(category)
        this.category.name = ''
        this.category.description = ''
      }
    },
    mixins: [ClientCategoriesVuex]
  }
</script>

<style>

</style>
