<template>
<div class="">
  <div class="row">
    <div class="col-lg-4">
      <div class="hpanel hgreen">
        <div class="panel-body">
          <img alt="logo" class="img-circle m-b m-t-md" src="/static/images/profile.jpg">
          <h3><a href="">{{client.first_name}} {{client.last_name}}</a></h3>
          <div class="text-muted font-bold m-b-xs"><small>Zone: </small>{{client.zone}}</div>
          <div class="text-muted font-bold m-b-xs"><small>Account No: </small> {{client.account_number}}</div>
          <div class="text-muted font-bold m-b-xs"><small>Meter No: </small>{{client.meter_number}}</div>
          <div class="progress m-t-xs full progress-small">
            <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class=" progress-bar progress-bar-success">
              <span class="sr-only">35% Complete (success)</span>
            </div>
          </div>
        </div>
        <div class="border-right border-left">
          <section id="map">
            <div id="map1" style="height: 200px"></div>
          </section>
        </div>
        <div class="panel-footer contact-footer">
          <div class="row">
            <div class="col-md-6 border-right">
              <div class="contact-stat"><span>Last Meter Reading: </span> <strong>200</strong></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-8">
      <div class="hpanel">
        <div class="hpanel">

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">Meter Readings</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">Messages</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
              <div class="panel-body">
                <strong>Some of {{client.first_name}}'s the meter readings</strong>

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>

                      <th>#</th>
                      <th>Date </th>
                      <th>Reading</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td>Today </td>
                      <td>347858</td>
                      <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>2017-10-03 </td>
                      <td>347858</td>
                      <td><a href="#"><i class="fa fa-check text-success"></i></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="tab-2" class="tab-pane">
              <div class="panel-body no-padding">


                <div class="chat-discussion" style="height: auto">

                  <div class="chat-message">
                    <img class="message-avatar" src="images/a1.jpg" alt="" >
                    <div class="message">
                      <a class="message-author" href="#"> Michael Smith </a>
                      <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                      <span class="message-content">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            </span>

                      <div class="m-t-md">
                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                      </div>
                    </div>
                  </div>
                  <div class="chat-message">
                    <img class="message-avatar" src="images/a4.jpg" alt="" >
                    <div class="message">
                      <a class="message-author" href="#"> Karl Jordan </a>
                      <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                      <span class="message-content">
											Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                            </span>
                      <div class="m-t-md">
                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                      </div>
                    </div>
                  </div>
                  <div class="chat-message">
                    <img class="message-avatar" src="images/a2.jpg" alt="" >
                    <div class="message">
                      <a class="message-author" href="#"> Michael Smith </a>
                      <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                      <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                    </div>
                  </div>
                  <div class="chat-message">
                    <img class="message-avatar" src="images/a5.jpg" alt="" >
                    <div class="message">
                      <a class="message-author" href="#"> Alice Jordan </a>
                      <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                      <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                      <div class="m-t-md">
                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-warning"><i class="fa fa-eye"></i> Nudge</a>
                      </div>
                    </div>
                  </div>
                  <div class="chat-message">
                    <img class="message-avatar" src="images/a6.jpg" alt="" >
                    <div class="message">
                      <a class="message-author" href="#"> Mark Smith </a>
                      <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                      <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                      <div class="m-t-md">
                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a>
                      </div>
                    </div>
                  </div>
                  <div class="chat-message">
                    <img class="message-avatar" src="images/a4.jpg" alt="" >
                    <div class="message">
                      <a class="message-author" href="#"> Karl Jordan </a>
                      <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                      <span class="message-content">
											Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                            </span>
                      <div class="m-t-md">
                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                      </div>
                    </div>
                  </div>
                  <div class="chat-message">
                    <img class="message-avatar" src="images/a2.jpg" alt="" >
                    <div class="message">
                      <a class="message-author" href="#"> Michael Smith </a>
                      <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                      <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                    </div>
                  </div>
                  <div class="chat-message">
                    <img class="message-avatar" src="images/a5.jpg" alt="" >
                    <div class="message">
                      <a class="message-author" href="#"> Alice Jordan </a>
                      <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                      <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                      <div class="m-t-md">
                        <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                        <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- Right sidebar -->
  <div id="right-sidebar" class="animated fadeInRight">

    <div class="p-m">
      <button id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md"><i class="pe pe-7s-close"></i>
      </button>
      <div>
        <span class="font-bold no-margins"> Analytics </span>
        <br>
        <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
      </div>
      <div class="row m-t-sm m-b-sm">
        <div class="col-lg-6">
          <h3 class="no-margins font-extra-bold text-success">300,102</h3>

          <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
        </div>
        <div class="col-lg-6">
          <h3 class="no-margins font-extra-bold text-success">280,200</h3>

          <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
        </div>
      </div>
      <div class="progress m-t-xs full progress-small">
        <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"
             class=" progress-bar progress-bar-success">
          <span class="sr-only">35% Complete (success)</span>
        </div>
      </div>
    </div>
    <div class="p-m bg-light border-bottom border-top">
      <span class="font-bold no-margins"> Social talks </span>
      <br>
      <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
      <div class="m-t-md">
        <div class="social-talk">
          <div class="media social-profile clearfix">
            <a class="pull-left">
              <img src="images/a1.jpg" alt="profile-picture">
            </a>

            <div class="media-body">
              <span class="font-bold">John Novak</span>
              <small class="text-muted">21.03.2015</small>
              <div class="social-content small">
                Injected humour, or randomised words which don't look even slightly believable.
              </div>
            </div>
          </div>
        </div>
        <div class="social-talk">
          <div class="media social-profile clearfix">
            <a class="pull-left">
              <img src="images/a3.jpg" alt="profile-picture">
            </a>

            <div class="media-body">
              <span class="font-bold">Mark Smith</span>
              <small class="text-muted">14.04.2015</small>
              <div class="social-content">
                Many desktop publishing packages and web page editors.
              </div>
            </div>
          </div>
        </div>
        <div class="social-talk">
          <div class="media social-profile clearfix">
            <a class="pull-left">
              <img src="images/a4.jpg" alt="profile-picture">
            </a>

            <div class="media-body">
              <span class="font-bold">Marica Morgan</span>
              <small class="text-muted">21.03.2015</small>

              <div class="social-content">
                There are many variations of passages of Lorem Ipsum available, but the majority have
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-m">
      <span class="font-bold no-margins"> Sales in last week </span>
      <div class="m-t-xs">
        <div class="row">
          <div class="col-xs-6">
            <small>Today</small>
            <h4 class="m-t-xs">$170,20 <i class="fa fa-level-up text-success"></i></h4>
          </div>
          <div class="col-xs-6">
            <small>Last week</small>
            <h4 class="m-t-xs">$580,90 <i class="fa fa-level-up text-success"></i></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <small>Today</small>
            <h4 class="m-t-xs">$620,20 <i class="fa fa-level-up text-success"></i></h4>
          </div>
          <div class="col-xs-6">
            <small>Last week</small>
            <h4 class="m-t-xs">$140,70 <i class="fa fa-level-up text-success"></i></h4>
          </div>
        </div>
      </div>
      <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.
        Many desktop publishing packages and web page editors.
      </small>
    </div>

  </div>
</div>

</template>

<script>
  import ClientVuex from '../../../mixins/Vuex/ClientVuex'
  export default {
    data () {
      return {}
    },
    computed: {
      client: function () {
        return this.allClients[this.$route.params.client_id]
      }
    },
    mixins: [ClientVuex]
  }
</script>

<style>

</style>
