<template>

  <div class="col-lg-10 col-lg-offset-1">
    <div class="hpanel">
      <div class="panel-heading">
        Register Client
      </div>
      <div class="panel-body">
        <form @submit.prevent="postClient()" class="form-horizontal">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Client Type</label>
                <div class="col-sm-9">
                  <select v-model="client.client_type"  class="form-control">
                    <option value="" selected disabled>Select Client Type</option>
                    <option :value="category.name" v-for="category in allClientCategories">{{category.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">First Name</label>

                <div class="col-sm-9"><input v-model="client.first_name" type="text" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Last Name</label>

                <div class="col-sm-9"><input v-model="client.last_name"  type="text" class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Email</label>

                <div class="col-sm-9"><input  v-model="client.email" type="email" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Phone Number</label>

                <div class="col-sm-9"><input  v-model="client.phone_number"  type="tel" class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Zone</label>

                <div class="col-sm-9">
                  <select v-model="client.zone" id="" class="form-control">
                    <option value="" selected disabled>Select Zone</option>
                    <option :value="category.name" v-for="category in allZones">{{category.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Street</label>

                <div class="col-sm-9"><input type="text"  v-model="client.street"  class="form-control"></div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Estate/Appartment (Include block)</label>

                <div class="col-sm-9"><input type="text"  v-model="client.estate"  class="form-control"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">House No.</label>

                <div class="col-sm-9"><input type="text"  v-model="client.house_no" class="form-control"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Account Number</label>

                <div class="col-sm-9"><input type="text"  v-model="client.account_number" class="form-control"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group"><label class="col-sm-3 control-label">Meter Number</label>

                <div class="col-sm-9"><input type="text" v-model="client.meter_number"  class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-3">
                  <button class="btn btn-primary" type="submit">Register Client</button>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</template>

<script>
  import ClientCategoriesVuex from '../../../mixins/Vuex/ClientCategoriesVuex'
  import ZoneVuex from '../../../mixins/Vuex/ZonesVuex'
  export default {
    data () {
      return {
        client: {
          client_type: '',
          first_name: '',
          last_name: '',
          email: '',
          phone_number: '',
          zone: '',
          estate: '',
          house_no: '',
          account_number: '',
          meter_number: ''
        }
      }
    },
    methods: {
      postClient: function () {
        this.$store.state.clientStore.clients.push(this.client)
        this.$router.push({
          name: 'AllClients'
        })
      }
    },
    mixins: [ClientCategoriesVuex, ZoneVuex]
  }
</script>

<style>

</style>
